body {
  margin: 0;
  background-color: "#dae1ea";
  height: 100vh;
}

.postContainer {
  width: 360px;
  padding: 0 !important;
  border-radius: 10px;
  background-color: #fff;
  margin: 15px 0 !important;
}

.top {
  padding: 10px;
}

.postContainer .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.postContainer .top .postInput {
  border: none;
  resize: none;
  width: 100%;
  margin-left: 10px;
  height: 125px;
  padding: 10px 5px;
}

.postContainer .top .posted {
  width: 100%;
  margin-left: 10px;
}

.postContainer .postBtn {
  background-color: cadetblue;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  height: 33px;
}

.postContainer .photoBtn {
  background-color: #000;
  color: #fff;
  font-size: 10px;
  height: 27px;
  border-radius: 15px;
}

.commentActions {
  margin-right: 4px !important;
  font-size: 10px !important;
  line-height: 14px !important;
  cursor: pointer;
}
